// Override Knowledge Explorer widths

.resources-browse .resources-filters {
  margin-top: 0.15em;
  flex: 0 1 30%;
  min-width: 175px;
}

.resources-browse .resources-items .resources-item {
  padding: 0.25em 0;
}